@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Hanken Grotesk", sans-serif;
    ;
}

/* GRADIENTS */

/* BACKGROUND */

/* --light-slate-blue: 252, 100%, 67%;
--clr-royal-blue: 241 81% 54%; */

p {
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10%;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 1.78em;
    box-shadow: 0.5em 1em 3em hsla(224 30% 27% / 0.2);
    overflow: hidden;
    max-width: 570px;
}

.result-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 1.78em;
    gap: 1rem;
    padding: 2rem;
}

.result-container h2 {
    color: hsl(241, 100%, 89%);
    font-weight: 400;
    font-family: "Hanken Grotesk", sans-serif;
    /*font-size: larger;*/
}

.main-result-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 10%;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.main-result-element span {
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    font-size: 50px;
}

.main-result-element p {
    color: hsl(252, 100%, 74%);
    font-weight: bold;
}

.result-desc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.result-desc-container span {
    color: hsl(221, 100%, 96%);
    font-weight: bold;
    font-size: 25px;
}

.result-desc-container p {
    color: hsl(241, 100%, 89%);
    text-align: center;
    font-weight: 400;
    font-size: 15px;
}

.sumary-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 0.5rem;
}

.sumary-container .sumary-title {
    align-items: center;
    justify-items: flex-start;
    width: 100%;
    color: hsl(224, 30%, 27%);
    padding-bottom: 0.8rem;
    font-size: 13px;
}

.sumary-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.8rem;
    border-radius: 10px;
}

.sumary-element .icon-element {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.sumary-container p {
    font-size: 14px;
}

.sumary-container span {
    font-size: 14px;
}

.sumary-element .reaction-text {
    color: hsl(0, 100%, 67%);
    font-weight: 800;
}

.sumary-element .memory-text {
    color: hsl(39, 100%, 56%);
    font-weight: 800;
}

.sumary-element .verbal-text {
    color: hsl(166, 100%, 37%);
    font-weight: 800;
}

.sumary-element .visual-text {
    color: hsl(234, 85%, 45%);
    font-weight: 800;
}

.light-red {
    background: hsla(0, 100%, 67%, 0.05);
}

.light-yellow {
    background: hsla(39, 100%, 56%, 0.05);
}

.light-green {
    background: hsla(166, 100%, 37%, 0.05);
}

.light-blue {
    background: hsla(234, 85%, 45%, 0.05);
}

.bold-text {
    color: hsl(224, 30%, 27%);
    font-weight: 800;
}

.light-text {
    color: #a3a3a3;
}

.sumary-container .sumary-btn {
    padding-top: 1rem;
    width: 100%;
}

.sumary-container .btn-continue {
    border-style: none;
    padding: 0.8rem;
    font-size: 1rem;
    background-color: hsl(224, 30%, 27%);
    color: white;
    width: 100%;
    border-radius: 50px;
    cursor: pointer;
}

.sumary-container .btn-continue:hover {
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

@media (max-width: 570px) {
    body{
        overflow: hidden;
        padding: 0;
    }

    main {
        display: flex;
        flex-direction: column;
        border-radius: 0 0 0 0;
        box-shadow: 0.5em 1em 3em hsla(224 30% 27% / 0.2);
        overflow: hidden;
        width: 100%;        
    }

    .result-container {
        border-radius: 0 0 1.78em 1.78em;
    }
}